!!!
%html
  %head
    %title= title
    = render 'layouts/stylesheets'
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    = yield
    
    = render :partial => 'layouts/ga' if ENV == 'production'

